@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar-thumb {
  background-color: #cb24ff;
  border-radius: 0%;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background-color: rgb(39, 35, 35);
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 272 10% 95%;
    --card: 268 30% 12%;
    --card-foreground: 272 10% 95%;
    --popover: 274 66% 32%;
    --popover-foreground: 269 97% 85%;
    --primary: 272 72% 47%;
    --primary-foreground: 272 10% 95%;
    --secondary: 271 69% 18%;
    --secondary-foreground: 271 10% 90%;
    --muted: 271 69% 18%;
    --muted-foreground: 271 15% 65%;
    --accent: 274 66% 32%;
    --accent-foreground: 269 97% 85%;
    --destructive: 0 70% 45%;
    --destructive-foreground: 272 10% 95%;
    --border: 269 97% 85%;
    --input: 268 40% 16%;
    --ring: 272 72% 47%;
    --sidebar-background: 268 87% 6%;
    --sidebar-foreground: 272 10% 95%;
    --sidebar-primary: 272 72% 47%;
    --sidebar-primary-foreground: 272 10% 95%;
    --sidebar-accent: 279 80% 67%;
    --sidebar-accent-foreground: 279 30% 10%;
    --sidebar-border: 268 40% 16%;
    --sidebar-ring: 272 72% 47%;
    --radius: 0.5rem;
    --chart-1: 284 54% 60%;
    --chart-2: 284 39% 75%;
    --chart-3: 284 24% 85%;
    --chart-4: 284 64% 45%;
    --chart-5: 284 59% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
